body {
	background-color: #D8BFD8;
}
img {
	border: 2px solid orange;
}
h1 {
	color: blue;
}
h2 {
	border-bottom: 1px solid black;
}
a {
	color: blue;
	text-decoration: none;
}
a:hover { 
	text-decoration: underline;
}
.google {
	color: purple;
}
.twitter {
	color: #FF0066;
}
.facebook {
	color: green;
}
.meetup {
	color: brown;
}
li {
	list-style-type: square;
}

.linkedin {
	color: 	#DB7093;
}
