h1 {
  color: blue;
}
 
/*img {
  height: 300px;
  width: 100%;
}*/
 
.sidebar {
  text-align:left;
  background-color: lightblue;
  border: black solid 5px;
  padding: 10px;
  width: 25%;
  float: left;
}
 
.content {
  background-color: pink;
  margin: auto;
  float: right;
  width: 70%;
}
 
.text-right {
  text-align: right;
}
 
.content p {
  color: green;
}
 
p {
  color: purple;
}
 
#footer p {
  color: brown;
}
 
.content p span {
  color: fuchsia;
  font-weight: bold;
  font-size: 20px;
  line-height: 44px;
}
 
a:link {
  color: green;
  font-weight: bold;
}
 
a:visited {
  color: pink;
}
 
a:hover {
  font-size: 20px;
}
 
a:active {
  font-weight: bold;
  color: lightgreen;
}
 
.link-list li {
  margin: 10px;
}
 
#main {
  width: 900px;
  margin: auto;
  clear:left;
}
 
#thumbnails img {
  width: 60px;
  height: 60px;
}
 
#thumbnails li {
  display: inline;
}
 
#header {
  position: relative;
  width: 100%;
  height: 500px;
}
 
#header img {
  width: 100%;
  height: 100%;
}
 
#full-title {
  color: white;
  position: absolute;
  top: 80px;
  z-index: 2;
}
 
#full-title #title {
  color: white;
  font-size: 55px;
  text-shadow: 2px 2px 5px black;
}
 
#full-title #subtitle {
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px black;
}
 
.footer {
  clear: both;
}
 
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}
 
.photo-with-caption {
  height: 300px;
  width: 500px;
  position: relative;
}
 
.photo-with-caption .copyright {
  color: white;
  position: absolute;
  right: 0;
  top: 280px;
  background-color: black;
  opacity: 0.8;
}
 
.photo-with-caption .caption {
  color: white;
  position: absolute;
  top: 200px;
  font-size: 28px;
  background-color: black;
  opacity: 0.8;
/*  padding: 10px;
  padding-right: 30px;*/
  padding: 10px 30px 10px 10px
}
 
 
.photo-with-caption img {
  padding: 15px;
  width: 100%;
  margin: auto;
  height: 100%;
  background-size: cover;
}
 

